{% extends "stock_quote/stock_home.html" %}
{% load static %}
{% csrf_token %}
{% block body %}

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Portfolio</title>

<style>
        h3{
            text-align:center;
            background-color: lightblue; 
        }   
        h4{
            float:right;
        }   
</style>

    </head>
<body>
    <h3>Portfolio</h3>
    <h4>Cash Balance:-23500</h4>
    <p>{{ cash_balance }}</p>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in portfolio_data %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.total_value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Cash Balance: ${{ total_cash }}</p>

</body>
</html>

{% endblock %}