{% extends "stock_quote/stock_home.html" %}
{% load static %}
{% csrf_token %}
{% block body %}

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Portfolio</title>

<style>
        h3{
            text-align:center;
            background-color: lightblue; 
        }   
        h4{
            float:right;
        }   
</style>

    </head>
<body>
    <h3><b>Portfolio</b></h3>
    <h4>Cash Balance:- &#8377;20500</h4>
    <p>Cash Balance: ${{ total_cash }}</p>
    <p>{{ cash_balance }}</p>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Total Value</th>
                <th>Sell Stock</th>
            </tr>
            <tr>
                <td>crossml</td>
                <td>2</td>
                <td>800.90</td>
                <td>1601.08</td>
                <td><a href="{% url 'userside:sell-stock' %}">Sell</a></td>
            </tr>
            <tr>
                <td>tata</td>
                <td>4</td>
                <td>350.90</td>
                <td>1403.6</td>
                <td><a href="{% url 'userside:sell-stock' %}">Sell</a></td>
            </tr>
            <tr>
                <td>Amazon</td>
                <td>2</td>
                <td>280.00</td>
                <td>560</td>
                <td><a href="{% url 'userside:sell-stock' %}">Sell</a></td>
            </tr>
            <tr>
                <td>TCS</td>
                <td>3</td>
                <td>300.00</td>
                <td>900</td>
                <td><a href="{% url 'userside:sell-stock' %}">Sell</a></td>
            </tr>
            <tr>
                <td>reliance</td>
                <td>2</td>
                <td>150.70</td>
                <td>301.4</td>
                <td><a href="{% url 'userside:sell-stock' %}">Sell</a></td>
            </tr>
        </thead>
        <tbody>
            {% for item in portfolio_data %}
                <tr>
                    <td>{{ stock_data.symbol }}</td>
                    <td>{{ stock_data.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.total_value }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8 col-md-12">
                <img src="{% static 'images/portfolio2.png' %}" alt="banner" width="1100" height="600">
            </div>
        </div>
    </div>
  </section>
<!-- End banner Area -->

</body>
</html>

{% endblock %}