{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Stock Trading{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'shares/styles.css' %}" rel="stylesheet">
    {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'shares/layout.js' %}"></script>
    {% endblock %}

<style>
    .nav-wrapper {   
        background-color: purple;  
    } 
    .footer {  
        background-color: black;  
         color: white;   
    } 
    
</style>

</head>
<body>

    <nav class="blue">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Stocks Trading</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
          
          <li ><a href="{% url 'userside:home' %}">Home</a></li>
          <li ><a href="{% url 'stock_quote:quote' %}">Stock Quote</a></li>
          <li ><a href="{% url 'userside:buy-stock' %}">buy</a></li>
          <li ><a href="{% url 'userside:sell-stock' %}">sell</a></li>
          <li ><a href="{% url 'userside:portfolio' %}">portfolio</a></li>
          <li ><a href="{% url 'userside:transaction-history' %}">transaction</a></li>


          {% if user.is_authenticated %}
            <li ><a href="{% url 'userside:logout' %}">Logout</a></li>

          {% else %}

            <li ><a href="{% url 'userside:user-login' %}">Login</a></li>
            <li ><a href="{% url 'userside:user-register' %}">Register</a></li>
          {% endif %}
          </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      {% if user.is_authenticated %}
        <li ><a href="{% url 'userside:index' %}">Home</a></li>
      
        
      {% else %}
        <li ><a href="{% url 'userside:index' %}">Home</a></li>
        <li ><a href="{% url 'userside:user-login' %}">Login</a></li>
        <li ><a href="{% url 'userside:user-register' %}">Register</a></li>
      {% endif %}

    </ul>
  
      <div class="body">
          {% block body %}
          {% endblock %}
      </div>
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

 <!-- start footer Area -->
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2  col-md-6">
                <div class="single-footer-widget">
                    <h6>Links</h6>
                    {% if request.user.is_authenticated %}
                    <ul class="footer-nav">
                        <li><a href="{% url 'userside:home' %}">Home</a></li>
                        <li><a href="{% url 'userside:logout' %}">Logout</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
  
        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </script>
               <a href="#" target="_blank"><h3>Stock Trading</h3></a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
  </footer>
<!-- End footer Area -->

</body>
</html>