{% extends "stock_quote/stock_home.html" %}
{% load static %}
{% csrf_token %}
{% block body %}

<html>
<head>
    <title>Transaction History</title>

<style>
        h3{
            text-align:center;
            background-color: Bisque; 
        }      
</style>

</head>
<body>
    <h3><b>Transaction History</b></h3>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Type</th>
                <th>Date and Time</th>
            </tr>
            <tr>
                <td>Wipro</td>
                <td>233.00</td>
                <td>1</td>
                <td>Sell</td>
                <td>15-11-23, 19:07</td>
            </tr>
            <tr>
                <td>crossml</td>
                <td>800.90</td>
                <td>2</td>
                <td>Buy</td>
                <td>19-11-23, 11:20</td>
            </tr>
            <tr>
                <td>Airtel</td>
                <td>145.00</td>
                <td>2</td>
                <td>Sell</td>
                <td>20-11-23, 16:04</td>
            </tr>
            <tr>
                <td>tata</td>
                <td>350.90</td>
                <td>4</td>
                <td>Buy</td>
                <td>25-11-23, 11:45</td>
            </tr>
        </thead>
        <tbody>
            {% for item in transactions %}

                <tr>
                    <td>{{ item.symbol }}</td>
                    <td> &#8377; {{ item.price }}</td>
                    <td>{{ item.shares }}</td>
                    <td>{{ item.transaction_type }}</td>
                    <td>{{ item.date_time }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}

