{% extends "stock_quote/stock_home.html" %}
{% load static %}
{% csrf_token %}
{% block body %}

<html>
<head>
    <title>Transaction History</title>

<style>
        h3{
            text-align:center;
            background-color: Bisque; 
        }      
</style>

</head>
<body>
    <h3>Transaction History</h3>
    <table>
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Type</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transactions in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>${{ transaction.price }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.get_transaction_type_display }}</td>
                    <td>{{ transaction.date_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}